/*--------------------------------------------------------------------------------------------------------------- 

                                        Cupon

---------------------------------------------------------------------------------------------------------------*/

.cupon {
  position: relative;
}
.cupon .cupon-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #233061b8;
  background: url(../../media/cupon.jpg) 0% 0% / cover no-repeat fixed;
  filter: grayscale(0.8);
}

/*--------------------------------------------------------------------------------------------------------------- 

                                        Cupon text

---------------------------------------------------------------------------------------------------------------*/

.cupon .cupon-text {
  text-shadow: 0 0 10px #233061;
}
@media (max-width: 976px) {
  .page-content-active .cupon .cupon-text strong:first-child {
    font-size: 2.5rem;
  }
}

/*--------------------------------------------------------------------------------------------------------------- 

                                        Cupon Form

---------------------------------------------------------------------------------------------------------------*/

.cupon .input-group input {
  box-shadow: none;
  width: 80%;
  border: #9e9e9e;
  border-bottom-left-radius: 20px 20px;
  border-top-left-radius: 20px 20px;
  padding-left: 10px;
}
.cupon .input-group input:hover,
.cupon .input-group input:active,
.cupon .input-group input:focus {
  border: none;
  outline: none;
  box-shadow: 0 0 5px #9e9e9e inset;
}
.cupon .input-group button {
  background-color: #9e9e9e;
  border: 1px solid #233061;
  width: 20%;
  border-bottom-right-radius: 20px 20px;
  border-bottom-left-radius: 0 0;
  border-top-left-radius: 0 0;
  border-top-right-radius: 20px 20px;
}
.cupon .input-group button:hover,
.cupon .input-group button:active,
.cupon .input-group button:focus {
  box-shadow: 0 0 5px #151e3c inset;
}
