.producto h1 {
  text-shadow: 0 1px 4px #68749eeb;
  font-weight: 600;
  letter-spacing: 0.1rem;
}
.producto h1 ~ .row {
  background: #ffffffb9;
  border-radius: 20px;
  border: 3px solid #233061b5;
  box-shadow: 0 0 8px 7px #2330619e;
}
.producto img {
  border-radius: 20px;
  box-shadow: 0 0 23px -10px #233061c4;
}
.producto .producto-informacion .text-light {
  position: relative;
}
.producto .producto-informacion {
  box-shadow: 0 0 23px -10px #233061c4;
  border-radius: 20px;
}
.producto .producto-informacion span.d-block {
  font-size: 1.5rem;
  margin: 1rem 0;
}
.producto .producto-informacion .pagos span {
  font-size: 3rem;
  cursor: pointer;
}
.producto .producto-informacion .tags {
  position: relative;
  bottom: 0;
  font-size: 0.8rem;
  opacity: 0.6;
}
.producto .producto-informacion p span.text-uppercase {
  font-weight: 600;
}
.producto .producto-informacion .fav-cart {
  font-size: 2rem;
}
.producto .producto-informacion .review button {
  font-size: 1rem;
  border-radius: 20px;
  background-color: #ffffff;
  border: none;
  padding: 0.5rem;
  transition: ease all 0.5s;
}
.producto .producto-informacion .review button:hover {
  box-shadow: 0px 0px 5px #68749eeb inset;
}
.producto .producto-informacion .review button.hidden {
  display: none;
  height: 0;
}
.producto .producto-informacion .review button.show {
  display: block;
  animation: show-btn 0.5s;
}
.producto .producto-informacion .review button.hiddenForever {
  display: none;
  height: 0;
}
@keyframes show-btn {
  from {
    height: 0;
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    height: auto;
    transform: translateY(0px);
  }
}
