/*---------------------------------------------------------------------------------------------------------------------------

                                          Carousel

---------------------------------------------------------------------------------------------------------------------------*/

.carousel-bg {
  box-shadow: 0 -5px 20px 5px black;
}
#carousel {
  box-shadow: 0 0 20px 6px;
  border-radius: 20px;
}
.carousel-inner {
  border-radius: 20px;
  background-color: #68749e;
}

/*---------------------------------------------------------------------------------------------------------------------------

                                          Carousel-indicators

---------------------------------------------------------------------------------------------------------------------------*/

#carousel .carousel-indicators li {
  width: 33%;
  height: 100%;
  margin-right: 0;
  margin-left: 0;
  border-top: 0;
  border-bottom: 0;
  overflow: hidden;
}
#carousel .carousel-indicators li:first-child {
  border-bottom-left-radius: 20px 20px;
}
#carousel .carousel-indicators li:last-child {
  border-bottom-right-radius: 20px 20px;
}
/*---------------------------------------------------------------------------------------------------------------------------

                                          Carousel img

---------------------------------------------------------------------------------------------------------------------------*/

#carousel .imagen1 {
  height: 300px;
  background: no-repeat 100% 10% / cover url(../../media/Carousel1.jpg);
  border-bottom-right-radius: 20px 20px;
}
#carousel .imagen2 {
  height: 300px;
  background: no-repeat 100% 44% / cover url(../../media/Carousel2.jpg);
  border-bottom-right-radius: 20px 20px;
}
#carousel .imagen3 {
  height: 300px;
  background: no-repeat 100% 65% / cover url(../../media/Carousel3.jpg);
  border-bottom-right-radius: 20px 20px;
}

/*---------------------------------------------------------------------------------------------------------------------------

                                          Responsive

---------------------------------------------------------------------------------------------------------------------------*/

@media (max-width: 777px) {
  #carousel .carousel-list li {
    font-size: 0.8rem;
  }
  #carousel .carousel-list li,
  #carousel .carousel-list {
    margin-bottom: 0;
  }
  #carousel .carousel-list li p {
    margin-bottom: 0.5rem;
  }
  #carousel .carousel-list li p span {
    margin-right: 0.5rem !important;
  }
  #carousel .carousel-header h2 {
    font-size: 1rem;
  }
  #carousel h3 {
    font-size: 1rem;
    margin-bottom: 0rem !important;
  }
}
