.footer-final {
  box-shadow: 0 0 8px #233061;
}
.footer-final .nav-title {
  font-size: 1rem;
  font-weight: 600;
}
.footer-final .nav-column .nav .nav-link {
  font-size: 0.8rem;
  padding: 0 0 0 10px;
  transition: ease 0.5s;
  cursor: pointer;
}
.footer-final .nav-column .nav .nav-link:hover {
  color: #233061;
}
.footer-final .footer-title {
  font-size: 2.5rem;
  font-weight: 700;
  text-shadow: 0 1px 4px #233061a3;
}
.footer-final .footer-title {
  color: #000000;
  text-decoration: none;
}
.footer-final .footer-title:hover {
  color: rgb(44, 44, 44);
  text-decoration: none;
}
@media (max-width: 900px) {
  .footer-final .footer-title {
    font-size: 2rem;
  }
}
