/*--------------------------------------------------------------------------------------------------------------- 

                                        Recommended

---------------------------------------------------------------------------------------------------------------*/

.recommended h2 {
  text-shadow: 0 1px 4px #233061;
}

/*--------------------------------------------------------------------------------------------------------------- 

                                        Card

---------------------------------------------------------------------------------------------------------------*/

.recommended .card {
  border: none;
  border-radius: 20px;
}
.recommended .card .card-top {
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 14px -2px #2330619e, 0 5px 10px -2px #233061;
  border-radius: 20px;
}
.recommended .card img {
  border-radius: 20px;
  box-shadow: 0 0 14px -2px #2330619e, 0 5px 10px -2px #233061;
  height: 200px;
}
.recommended .card .card-review {
  border-bottom-left-radius: 20px 20px;
  border-bottom-right-radius: 20px 20px;
  position: absolute;
  bottom: -20%;
  left: 0;
  padding: 3% 0;
  opacity: 0;
  background-color: #9e9e9e87;
  transition: ease 0.5s;
}
.recommended .card-top span:hover + .card-review,
.recommended .card-top .card-review:hover,
.recommended .card-top .cart:hover ~ .card-review,
.recommended .card-top .favorite:hover ~ .card-review {
  bottom: 0;
  opacity: 1;
}
.recommended .card .card-title {
  font-size: 1rem;
  color: #233061;
  font-weight: 600;
  letter-spacing: 0.8px;
  display: block;
  text-shadow: 0 0 1px #68749e;
}
.recommended .card .card-title:hover,
.recommended .card .card-title:focus,
.recommended .card .card-title:visited {
  text-decoration: none;
}
.recommended .card .card-text {
  font-size: 1rem;
}

/*--------------------------------------------------------------------------------------------------------------- 

                                        Card favorite

---------------------------------------------------------------------------------------------------------------*/

.recommended .card-top .favorite {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  padding: 5%;
  opacity: 0.6;
  font-size: 1.3rem;
}
.recommended .card-top .favorite:hover {
  opacity: 1;
}

/*--------------------------------------------------------------------------------------------------------------- 

                                        Card cart

---------------------------------------------------------------------------------------------------------------*/

.recommended .card-top .cart {
  z-index: 1;
  color: #ffffff;
  position: absolute;
  top: 0;
  right: 0;
  padding: 5%;
  margin-right: 20%;
  opacity: 0.6;
  font-size: 1.5rem;
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 0) 73%
  );
}
.recommended .card-top .cart:hover {
  opacity: 1;
}

/*--------------------------------------------------------------------------------------------------------------- 

                                        Card review

---------------------------------------------------------------------------------------------------------------*/

.recommended .card-top .card-review .review-static {
  font-size: 100%;
}
